/* You can add global styles to this file, and also import other style files */
body{
    background: #1e1e1e;
    margin-top: 15vh;
    display: flex;
    align-items:center ;
    justify-content: center;
}